      <li class='list'>
        <%= link_to item_path(items.id) do %>
        <div class='item-img-content'>
          <%= image_tag items.image, class: "item-img" %>

          <%# 商品が売れていればsold outを表示しましょう %>
          <% if items.order %>
          <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
          <% end %>
          <%# //商品が売れていればsold outを表示しましょう %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= items.name %>
          </h3>
          <div class='item-price'>
            <span><%= items.price %>円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
